*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
}

.main{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}